---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>

<ol reversed>
  <li><strong>Zhang, W.</strong>, Xin, X., Wang, Y., et al. 2026.
  Paintable on-skin dry electrodes with robust skin and device connection for wireless sensing and human-machine interfaces.
  <em>Proceedings of the National Academy of Sciences</em>, In Press.
  </li>

  <li><strong>Zhang, W.</strong>, Zhang, X., Dutta, A., et al. 2025.
  Hydrogel-based sweat chloride sensor with high sensitivity and low hysteresis.
  <em>Biosensors and Bioelectronics</em>, 288, 117805.
  </li>
</ol>

<h2>Book Chapters</h2>

<ol>
  <li>Herbert, R., Popoola, M.O., <strong>Zhang, W.</strong>, Cheng, H. 2024.
  Soft, wearable devices to monitor electrophysiological signals and gaseous biomarkers.
  <em>Smart and Connected Wearable Electronics</em>, 321–392.
  </li>
</ol>

<h2>Conference Papers</h2>

<ol>
  <li><strong>Zhang, W.</strong>, Abdulghani, A.M., Imran, M.A., Abbasi, Q.H. 2020.
  Internet of Things (IoT) enabled Smart Home Safety Barrier System.
  <em>2020 International Conference on Computing, Networks, and Internet of Things</em>.
  </li>
</ol>



