---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Journal Articles</h2>

<ol reversed>
  <li><strong>W. Zhang</strong>, X, Xin., Y. Wang, et al.
  Paintable on-skin dry electrodes with robust skin and device connection for wireless sensing and human-machine interfaces.
  <em>Proceedings of the National Academy of Sciences</em>, In Press. (2026)
  </li>

  <li><strong>W. Zhang</strong>, X. Zhang, A. Dutta, et al.
  Hydrogel-based sweat chloride sensor with high sensitivity and low hysteresis.
  <em>Biosensors and Bioelectronics</em>, 288, 117805. (2025)
  </li>

  <li><strong>W. Zhang<sup>#</sup></strong>, L. Zhang<sup>#</sup>, Y. Liao, H. Cheng, et al. 
  Wearable electronic devices for glaucoma monitoring and therapy.
  <em>Materials & Design</em>, 212, 110183. (2021)
  </li>
  
  <li><strong>W. Zhang</strong>, L. Huang, RN. Weinreb, H. Cheng, et al. 
  Wearable electronic devices for glaucoma monitoring and therapy.
  <em>Materials & Design</em>, 212, 110183. (2021)
  </li>
  
</ol>

<h2>Book Chapters</h2>

<ol>
  <li>R. Herbert, MO. Popoola, <strong>W. Zhang</strong>, H. Cheng.
  Soft, wearable devices to monitor electrophysiological signals and gaseous biomarkers.
  <em>Smart and Connected Wearable Electronics</em>, 321–392. (2024)
  </li>
</ol>

<h2>Conference Papers</h2>

<ol>
  <li><strong>W. Zhang</strong>, AM. Abdulghani, MA. Imran, QH. Abbasi.
  Internet of Things (IoT) enabled Smart Home Safety Barrier System.
  <em>International Conference on Computing, Networks, and Internet of Things</em>, ISBN: 978-1-4503-7771-3 (2020).
  </li>
</ol>

<p><sup>#</sup> Equal contribution.



